flight-service/src/main/resources/wsdl/provider-a.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://example.com/flightprovidera" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://example.com/flightprovidera" targetNamespace="http://example.com/flightprovidera">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://example.com/flightprovidera">

    <!--Search Request -->
    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origin" type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="departureDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Search Response -->
    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="flightAOptions" type="tns:flight"/>
                <xs:element minOccurs="0" name="errorMessage" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Flight Type -->
    <xs:complexType name="flight">
        <xs:sequence>
            <xs:element name="flightNo" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="SearchResponse">
    <wsdl:part element="tns:SearchResponse" name="SearchResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SearchRequest">
    <wsdl:part element="tns:SearchRequest" name="SearchRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FlightPortA">
    <wsdl:operation name="Search">
      <wsdl:input message="tns:SearchRequest" name="SearchRequest">
    </wsdl:input>
      <wsdl:output message="tns:SearchResponse" name="SearchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightPortASoap11" type="tns:FlightPortA">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Search">
      <soap:operation soapAction=""/>
      <wsdl:input name="SearchRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="SearchResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FlightPortAService">
    <wsdl:port binding="tns:FlightPortASoap11" name="FlightPortASoap11">
      <soap:address location="http://localhost:8080/ws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>