flight-provider-a/src/main/resources/aflights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/flightprovidera"
           targetNamespace="http://example.com/flightprovidera"
           elementFormDefault="qualified">

    <!--Search Request -->
    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origin" type="xs:string"/>
                <xs:element name="destination" type="xs:string"/>
                <xs:element name="departureDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Search Response -->
    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element name="flightAOptions" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Flight Type -->
    <xs:complexType name="flight">
        <xs:sequence>
            <xs:element name="flightNo" type="xs:string"/>
            <xs:element name="origin" type="xs:string"/>
            <xs:element name="destination" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>