flight-provider-b/src/main/resources/bflights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://example.com/flightproviderb"
           targetNamespace="http://example.com/flightproviderb"
           elementFormDefault="qualified">

    <!--  Search Request -->
    <xs:element name="SearchRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="departure" type="xs:string"/>
                <xs:element name="arrival" type="xs:string"/>
                <xs:element name="departureDate" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--  Search Response -->
    <xs:element name="SearchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="hasError" type="xs:boolean"/>
                <xs:element name="flightBOptions" type="tns:flight" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="errorMessage" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Flight Type -->
    <xs:complexType name="flight">
        <xs:sequence>
            <xs:element name="flightNumber" type="xs:string"/>
            <xs:element name="departure" type="xs:string"/>
            <xs:element name="arrival" type="xs:string"/>
            <xs:element name="departuredatetime" type="xs:dateTime"/>
            <xs:element name="arrivaldatetime" type="xs:dateTime"/>
            <xs:element name="price" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>